version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: blog-database
    environment:
      POSTGRES_DB: blog-database
      POSTGRES_USER: ${DB_USERNAME:-postgres_blog} #local
      POSTGRES_PASSWORD: ${DB_PASSWORD:-mypassword} # local
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - blog-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME:-postgres_blog}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog-app
    environment:
      SPRING_PROFILES_ACTIVE: local
    ports:
      - "8585:8585"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - blog-network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  blog-network:
    driver: bridge